.App {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16rem;
  margin-top: 10rem;
}

img {
  height: 400px;
  width: 400px;
}

.input-container {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  background: #fff;
  font-size: 16px;    
}

.input-name {
  background: #fff;
  border: 0.5 solid rgb(160, 0, 184);
  padding: 12px 24px;
  border-radius: 8px;
}

h1 {
  color: #fff;
}

